<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.mapper.OrderMapper">

	<select id="getList" resultType="kr.co.domain.OrderVO">
		select * from tbl_order where user_number = #{user_number}
	</select>

	<select id="getCartList" resultType="kr.co.domain.CartVO">
		select * from tbl_cart c, tbl_user u, tbl_book b
		where c.user_number = u.user_number and
		b.book_id = c.book_id and c.user_number=#{c.user_number}
	</select>
	
	<select id="getBookList" resultType="kr.co.domain.BookVO">
		select * from tbl_cart c, tbl_user u, tbl_book b
		where c.user_number = u.user_number and
		b.book_id = c.book_id and c.user_number=#{c.user_number}
	</select>
	
	<select id="getOneBook" resultType="kr.co.domain.BookVO">
		select * from tbl_book where book_id = #{book_id}
	</select>
	
	<select id="findOrderNumber" resultType="int">
		select order_number from tbl_order where order_number = (SELECT max(order_number) FROM tbl_order where user_number = #{c.user_number} )
	
	</select>
	
	<insert id="insertPayByCard">
		insert into tbl_order(order_number,user_number,order_price,
			order_name,order_hp1,order_hp2,order_hp3,order_zipcode,order_roadAddress,order_jibunAddress,order_namujiAddress,order_message, 
			payment_method,card_name,card_installment,delivery_status,order_credate)  
		values (seq_order.nextval,#{user_number},#{order_price},#{order_name},#{order_hp1},#{order_hp2},#{order_hp3},
			#{order_zipcode},#{order_roadAddress},#{order_jibunAddress},#{order_namujiAddress},#{order_message}, #{payment_method},
			#{card_name}, #{card_installment},#{delivery_status}, default )
	</insert>
	
	<insert id="insertPayInCash">
		insert into tbl_order(order_number,user_number,order_price, 
			order_name,order_hp1,order_hp2,order_hp3,order_zipcode,order_roadAddress,order_jibunAddress,order_namujiAddress,order_message, 
			payment_method,deposit_name, delivery_status,order_credate)  
		values (seq_order.nextval,#{user_number},#{order_price},#{order_name},#{order_hp1},#{order_hp2},#{order_hp3},
			#{order_zipcode},#{order_roadAddress},#{order_jibunAddress},#{order_namujiAddress},#{order_message}, #{payment_method},
			#{deposit_name} ,#{delivery_status}, default )
	</insert>
	
	
	
	

</mapper>